In [ ]:
import pandas as pd
import glob

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/MAS Masterclass/Machine Learning/T20I_ball_by_ball_updated.csv')

<ipython-input-3-203826c048b7>:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/MAS Masterclass/Machine Learning/T20I_ball_by_ball_updated.csv')

In [ ]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,211048,2004/05,2005-02-17,Eden Park,1,0.2,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,211048,2004/05,2005-02-17,Eden Park,1,0.3,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,211048,2004/05,2005-02-17,Eden Park,1,0.4,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,211048,2004/05,2005-02-17,Eden Park,1,0.5,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[df.match_id == 211048]

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,211048,2004/05,2005-02-17,Eden Park,1,0.2,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,211048,2004/05,2005-02-17,Eden Park,1,0.3,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,211048,2004/05,2005-02-17,Eden Park,1,0.4,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,211048,2004/05,2005-02-17,Eden Park,1,0.5,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,211048,2004/05,2005-02-17,Eden Park,2,19.2,New Zealand,Australia,JW Wilson,KD Mills,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,211048,2004/05,2005-02-17,Eden Park,2,19.3,New Zealand,Australia,JW Wilson,KD Mills,...,0,NaN,NaN,NaN,NaN,NaN,bowled,JW Wilson,NaN,NaN
242,211048,2004/05,2005-02-17,Eden Park,2,19.4,New Zealand,Australia,DR Tuffey,KD Mills,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,211048,2004/05,2005-02-17,Eden Park,2,19.5,New Zealand,Australia,DR Tuffey,KD Mills,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,211048,2004/05,2005-02-17,Eden Park,2,19.6,New Zealand,Australia,KD Mills,DR Tuffey,...,0,NaN,NaN,NaN,NaN,NaN,caught,KD Mills,NaN,NaN

In [ ]:
len(df.match_id.unique())

2365

In [ ]:
# df.to_csv('Data.csv', index = None)

In [ ]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.sort_values(['match_id','innings'], ascending = [True, True])

In [ ]:
print(df['batting_team'].unique())
print(df['bowling_team'].unique())

['England' 'Australia' 'New Zealand' 'South Africa' 'Pakistan' 'Sri Lanka'
 'West Indies' 'India' 'Kenya' 'Scotland' 'Zimbabwe' 'Bangladesh'
 'Bermuda' 'Netherlands' 'Ireland' 'Afghanistan' 'Canada' 'Nepal'
 'Hong Kong' 'United Arab Emirates' 'Papua New Guinea' 'Oman'
 'ICC World XI' 'Thailand' 'Uganda' 'Malaysia' 'Botswana' 'Lesotho'
 'Malawi' 'Namibia' 'Sierra Leone' 'Mozambique' 'China' 'Kuwait'
 'Philippines' 'Vanuatu' 'United States of America' 'Germany' 'Italy'
 'Nigeria' 'Tanzania' 'Rwanda' 'Japan' 'Indonesia' 'Fiji' 'Samoa' 'Ghana'
 'Guernsey' 'Denmark' 'Norway' 'Jersey' 'Maldives' 'Mali' 'Singapore'
 'Qatar' 'South Korea' 'Cayman Islands' 'Portugal' 'Spain' 'Gibraltar'
 'Bhutan' 'Saudi Arabia' 'Bahrain' 'Iran' 'Austria' 'Belgium' 'Luxembourg'
 'Czech Republic' 'Isle of Man' 'Bulgaria' 'Romania' 'Greece' 'Serbia'
 'Malta' 'France' 'Sweden' 'Finland' 'Eswatini' 'Cameroon' 'Hungary'
 'Estonia' 'Cyprus' 'Switzerland' 'Argentina' 'Brazil' 'Swaziland'
 'Seychelles' 'Belize' 'Bahamas' 'Panama' 'Barbados' 'Israel' 'Turkey'
 'Croatia' 'Slovenia' 'Cook Islands']
['Australia' 'England' 'New Zealand' 'South Africa' 'Pakistan' 'Sri Lanka'
 'West Indies' 'India' 'Kenya' 'Scotland' 'Zimbabwe' 'Bangladesh'
 'Bermuda' 'Netherlands' 'Ireland' 'Afghanistan' 'Canada' 'Hong Kong'
 'Nepal' 'United Arab Emirates' 'Papua New Guinea' 'Oman' 'ICC World XI'
 'Thailand' 'Uganda' 'Malaysia' 'Lesotho' 'Botswana' 'Namibia' 'Malawi'
 'Sierra Leone' 'Mozambique' 'China' 'Kuwait' 'Philippines' 'Vanuatu'
 'United States of America' 'Italy' 'Germany' 'Nigeria' 'Tanzania'
 'Rwanda' 'Indonesia' 'Japan' 'Fiji' 'Samoa' 'Ghana' 'Guernsey' 'Norway'
 'Denmark' 'Jersey' 'Maldives' 'Mali' 'Qatar' 'Singapore' 'South Korea'
 'Cayman Islands' 'Spain' 'Portugal' 'Gibraltar' 'Bhutan' 'Saudi Arabia'
 'Bahrain' 'Iran' 'Austria' 'Luxembourg' 'Belgium' 'Czech Republic'
 'Isle of Man' 'Romania' 'Bulgaria' 'Greece' 'Serbia' 'Malta' 'France'
 'Sweden' 'Finland' 'Eswatini' 'Cameroon' 'Hungary' 'Cyprus' 'Estonia'
 'Switzerland' 'Brazil' 'Argentina' 'Swaziland' 'Seychelles' 'Belize'
 'Bahamas' 'Panama' 'Barbados' 'Israel' 'Turkey' 'Croatia' 'Slovenia'
 'Cook Islands']

In [ ]:
consistent_teams = ['England', 'Australia', 'West Indies','India', 'Bangladesh','New Zealand','Pakistan',  'South Africa','Sri Lanka']

In [ ]:
df = df[df['batting_team'].isin(consistent_teams)]
df = df[df['bowling_team'].isin(consistent_teams)]

In [ ]:
df['batting_team'].unique()

array(['England', 'Australia', 'New Zealand', 'South Africa', 'Pakistan',
       'Sri Lanka', 'West Indies', 'India', 'Bangladesh'], dtype=object)

In [ ]:
df['overs'] = df['ball']

In [ ]:
# Make string version of original column
df['ball'] = df['ball'].astype(str)

In [ ]:
df['ball'].str[0:-1]

245       0.
246       0.
247       0.
248       0.
249       0.
          ..
536847    7.
536848    8.
536849    8.
536850    8.
536851    8.
Name: ball, Length: 239117, dtype: object

In [ ]:
df['over'] = df['ball'].str[0:-1]

In [ ]:
df['over'].str.replace('.','')

<ipython-input-18-1d6ae526d1a4>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['over'].str.replace('.','')

245       0
246       0
247       0
248       0
249       0
         ..
536847    7
536848    8
536849    8
536850    8
536851    8
Name: over, Length: 239117, dtype: object

In [ ]:
df['over'] = df['over'].str.replace('.','')

<ipython-input-19-6cb4239ba89d>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['over'] = df['over'].str.replace('.','')

In [ ]:
df['ball'].str[-1:]

245       1
246       2
247       3
248       4
249       5
         ..
536847    6
536848    1
536849    2
536850    3
536851    4
Name: ball, Length: 239117, dtype: object

In [ ]:
df['ball'] = df['ball'].str[-1:]

In [ ]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over
245,211028,2005,2005-06-13,The Rose Bowl,1,1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0
246,211028,2005,2005-06-13,The Rose Bowl,1,2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,0
247,211028,2005,2005-06-13,The Rose Bowl,1,3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,0
248,211028,2005,2005-06-13,The Rose Bowl,1,4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,0
249,211028,2005,2005-06-13,The Rose Bowl,1,5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0

In [ ]:
df['total_runs'] = df['runs_off_bat'] + df['extras']

In [ ]:
df.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,over,total_runs
245,211028,2005,2005-06-13,The Rose Bowl,1,1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0,0

In [ ]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed', 'overs', 'over', 'total_runs'],
      dtype='object')

In [ ]:
df = df[['match_id', 'innings', 'batting_team', 'bowling_team', 'striker', 'overs', 'over','ball', 'total_runs','player_dismissed']]

In [ ]:
df = df.rename(columns = {'match_id':'id'})

In [ ]:
df.head(3)

,id,innings,batting_team,bowling_team,striker,overs,over,ball,total_runs,player_dismissed
245,211028,1,England,Australia,ME Trescothick,0.1,0,1,0,NaN
246,211028,1,England,Australia,ME Trescothick,0.2,0,2,1,NaN
247,211028,1,England,Australia,GO Jones,0.3,0,3,0,NaN

In [ ]:
import numpy as np
df = df.replace(np.nan,0)

In [ ]:
df.head(3)

,id,innings,batting_team,bowling_team,striker,overs,over,ball,total_runs,player_dismissed
245,211028,1,England,Australia,ME Trescothick,0.1,0,1,0,0
246,211028,1,England,Australia,ME Trescothick,0.2,0,2,1,0
247,211028,1,England,Australia,GO Jones,0.3,0,3,0,0

### Total runs scored in the innings

In [ ]:
df.groupby(['id','innings'])['total_runs'].transform('sum')

245       179
246       179
247       179
248       179
249       179
         ...
536847     71
536848     71
536849     71
536850     71
536851     71
Name: total_runs, Length: 239117, dtype: int64

In [ ]:
df['total'] = df.groupby(['id','innings'])['total_runs'].transform('sum')

### Runs scored till the current ball

In [ ]:
df.groupby(['id','innings'])['total_runs'].apply(lambda x: x.cumsum())

<ipython-input-33-afb5ca77d30a>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df.groupby(['id','innings'])['total_runs'].apply(lambda x: x.cumsum())

245        0
246        1
247        1
248        1
249        1
          ..
536847    59
536848    60
536849    61
536850    65
536851    71
Name: total_runs, Length: 239117, dtype: int64

In [ ]:
df['total_score'] = df.groupby(['id','innings'])['total_runs'].apply(lambda x: x.cumsum())

<ipython-input-34-bbb2c0892741>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df['total_score'] = df.groupby(['id','innings'])['total_runs'].apply(lambda x: x.cumsum())

In [ ]:
df.head()

,id,innings,batting_team,bowling_team,striker,overs,over,ball,total_runs,player_dismissed,total,total_score
245,211028,1,England,Australia,ME Trescothick,0.1,0,1,0,0,179,0
246,211028,1,England,Australia,ME Trescothick,0.2,0,2,1,0,179,1
247,211028,1,England,Australia,GO Jones,0.3,0,3,0,0,179,1
248,211028,1,England,Australia,GO Jones,0.4,0,4,0,0,179,1
249,211028,1,England,Australia,GO Jones,0.5,0,5,0,0,179,1

In [ ]:
from keras import Sequential, layers

### Runs scored in previous 30 balls

In [ ]:
df.groupby(['id','innings'])['total_runs'].rolling(min_periods = 1, window = 30).sum().reset_index()

             id  innings  level_2  total_runs
0        211028        1      245         0.0
1        211028        1      246         1.0
2        211028        1      247         1.0
3        211028        1      248         1.0
4        211028        1      249         1.0
...         ...      ...      ...         ...
239112  1335808        2   536847        34.0
239113  1335808        2   536848        29.0
239114  1335808        2   536849        29.0
239115  1335808        2   536850        33.0
239116  1335808        2   536851        39.0

[239117 rows x 4 columns]

In [ ]:
tmp = df.groupby(['id','innings'])['total_runs'].rolling(min_periods = 1, window = 30).sum().reset_index()

In [ ]:
tmp[['total_runs']]

        total_runs
0              0.0
1              1.0
2              1.0
3              1.0
4              1.0
...            ...
239112        34.0
239113        29.0
239114        29.0
239115        33.0
239116        39.0

[239117 rows x 1 columns]

In [ ]:
df['prev_30_runs'] = tmp['total_runs'].to_list()

In [ ]:
df.head(35)

,id,innings,batting_team,bowling_team,striker,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs
245,211028,1,England,Australia,ME Trescothick,0.1,0,1,0,0,179,0,0.0
246,211028,1,England,Australia,ME Trescothick,0.2,0,2,1,0,179,1,1.0
247,211028,1,England,Australia,GO Jones,0.3,0,3,0,0,179,1,1.0
248,211028,1,England,Australia,GO Jones,0.4,0,4,0,0,179,1,1.0
249,211028,1,England,Australia,GO Jones,0.5,0,5,0,0,179,1,1.0
250,211028,1,England,Australia,GO Jones,0.6,0,6,1,0,179,2,2.0
251,211028,1,England,Australia,GO Jones,0.7,0,7,2,0,179,4,4.0
252,211028,1,England,Australia,ME Trescothick,1.1,1,1,0,0,179,4,4.0
253,211028,1,England,Australia,ME Trescothick,1.2,1,2,0,0,179,4,4.0
254,211028,1,England,Australia,ME Trescothick,1.3,1,3,1,0,179,5,5.0
255,211028,1,England,Australia,ME Trescothick,1.4,1,4,0,0,179,5,5.0
256,211028,1,England,Australia,ME Trescothick,1.5,1,5,0,0,179,5,5.0
257,211028,1,England,Australia,ME Trescothick,1.6,1,6,0,0,179,5,5.0
258,211028,1,England,Australia,ME Trescothick,1.7,1,7,1,0,179,6,6.0
259,211028,1,England,Australia,ME Trescothick,2.1,2,1,4,0,179,10,10.0
260,211028,1,England,Australia,ME Trescothick,2.2,2,2,1,0,179,11,11.0
261,211028,1,England,Australia,GO Jones,2.3,2,3,0,0,179,11,11.0
262,211028,1,England,Australia,GO Jones,2.4,2,4,4,0,179,15,15.0
263,211028,1,England,Australia,GO Jones,2.5,2,5,4,0,179,19,19.0
264,211028,1,England,Australia,GO Jones,2.6,2,6,1,0,179,20,20.0
265,211028,1,England,Australia,GO Jones,3.1,3,1,0,0,179,20,20.0
266,211028,1,England,Australia,GO Jones,3.2,3,2,4,0,179,24,24.0
267,211028,1,England,Australia,GO Jones,3.3,3,3,4,0,179,28,28.0
268,211028,1,England,Australia,GO Jones,3.4,3,4,0,0,179,28,28.0
269,211028,1,England,Australia,GO Jones,3.5,3,5,0,GO Jones,179,28,28.0
270,211028,1,England,Australia,ME Trescothick,3.6,3,6,1,0,179,29,29.0
271,211028,1,England,Australia,ME Trescothick,4.1,4,1,1,0,179,30,30.0
272,211028,1,England,Australia,A Flintoff,4.2,4,2,2,0,179,32,32.0
273,211028,1,England,Australia,ME Trescothick,4.3,4,3,4,0,179,36,36.0
274,211028,1,England,Australia,ME Trescothick,4.4,4,4,1,0,179,37,37.0
275,211028,1,England,Australia,A Flintoff,4.5,4,5,1,0,179,38,38.0
276,211028,1,England,Australia,A Flintoff,4.6,4,6,1,0,179,39,38.0
277,211028,1,England,Australia,ME Trescothick,4.7,4,7,1,0,179,40,39.0
278,211028,1,England,Australia,A Flintoff,4.8,4,8,3,0,179,43,42.0
279,211028,1,England,Australia,A Flintoff,5.1,5,1,1,0,179,44,43.0

### Wickets fallen in previous 30 balls

In [ ]:
df['player_dismissed'].unique()

array([0, 'GO Jones', 'A Flintoff', ..., 'CS Fraser', 'Nahida Akter',
       'RS Gayakwad'], dtype=object)

In [ ]:
df['player_dismissed'] = np.where(df['player_dismissed'] ==0 , 0, 1)

In [ ]:
tmp = df.groupby(['id','innings'])['player_dismissed'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_wickets'] = tmp['player_dismissed'].to_list()

In [ ]:
df.head(35)

,id,innings,batting_team,bowling_team,striker,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets
245,211028,1,England,Australia,ME Trescothick,0.1,0,1,0,0,179,0,0.0,0.0
246,211028,1,England,Australia,ME Trescothick,0.2,0,2,1,0,179,1,1.0,0.0
247,211028,1,England,Australia,GO Jones,0.3,0,3,0,0,179,1,1.0,0.0
248,211028,1,England,Australia,GO Jones,0.4,0,4,0,0,179,1,1.0,0.0
249,211028,1,England,Australia,GO Jones,0.5,0,5,0,0,179,1,1.0,0.0
250,211028,1,England,Australia,GO Jones,0.6,0,6,1,0,179,2,2.0,0.0
251,211028,1,England,Australia,GO Jones,0.7,0,7,2,0,179,4,4.0,0.0
252,211028,1,England,Australia,ME Trescothick,1.1,1,1,0,0,179,4,4.0,0.0
253,211028,1,England,Australia,ME Trescothick,1.2,1,2,0,0,179,4,4.0,0.0
254,211028,1,England,Australia,ME Trescothick,1.3,1,3,1,0,179,5,5.0,0.0
255,211028,1,England,Australia,ME Trescothick,1.4,1,4,0,0,179,5,5.0,0.0
256,211028,1,England,Australia,ME Trescothick,1.5,1,5,0,0,179,5,5.0,0.0
257,211028,1,England,Australia,ME Trescothick,1.6,1,6,0,0,179,5,5.0,0.0
258,211028,1,England,Australia,ME Trescothick,1.7,1,7,1,0,179,6,6.0,0.0
259,211028,1,England,Australia,ME Trescothick,2.1,2,1,4,0,179,10,10.0,0.0
260,211028,1,England,Australia,ME Trescothick,2.2,2,2,1,0,179,11,11.0,0.0
261,211028,1,England,Australia,GO Jones,2.3,2,3,0,0,179,11,11.0,0.0
262,211028,1,England,Australia,GO Jones,2.4,2,4,4,0,179,15,15.0,0.0
263,211028,1,England,Australia,GO Jones,2.5,2,5,4,0,179,19,19.0,0.0
264,211028,1,England,Australia,GO Jones,2.6,2,6,1,0,179,20,20.0,0.0
265,211028,1,England,Australia,GO Jones,3.1,3,1,0,0,179,20,20.0,0.0
266,211028,1,England,Australia,GO Jones,3.2,3,2,4,0,179,24,24.0,0.0
267,211028,1,England,Australia,GO Jones,3.3,3,3,4,0,179,28,28.0,0.0
268,211028,1,England,Australia,GO Jones,3.4,3,4,0,0,179,28,28.0,0.0
269,211028,1,England,Australia,GO Jones,3.5,3,5,0,1,179,28,28.0,1.0
270,211028,1,England,Australia,ME Trescothick,3.6,3,6,1,0,179,29,29.0,1.0
271,211028,1,England,Australia,ME Trescothick,4.1,4,1,1,0,179,30,30.0,1.0
272,211028,1,England,Australia,A Flintoff,4.2,4,2,2,0,179,32,32.0,1.0
273,211028,1,England,Australia,ME Trescothick,4.3,4,3,4,0,179,36,36.0,1.0
274,211028,1,England,Australia,ME Trescothick,4.4,4,4,1,0,179,37,37.0,1.0
275,211028,1,England,Australia,A Flintoff,4.5,4,5,1,0,179,38,38.0,1.0
276,211028,1,England,Australia,A Flintoff,4.6,4,6,1,0,179,39,38.0,1.0
277,211028,1,England,Australia,ME Trescothick,4.7,4,7,1,0,179,40,39.0,1.0
278,211028,1,England,Australia,A Flintoff,4.8,4,8,3,0,179,43,42.0,1.0
279,211028,1,England,Australia,A Flintoff,5.1,5,1,1,0,179,44,43.0,1.0

### Wickets fallen till the current ball

In [ ]:
df.groupby(['id','innings'])['player_dismissed'].apply(lambda x: x.cumsum())

<ipython-input-46-dd5dc72039ad>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df.groupby(['id','innings'])['player_dismissed'].apply(lambda x: x.cumsum())

245       0
246       0
247       0
248       0
249       0
         ..
536847    2
536848    2
536849    2
536850    2
536851    2
Name: player_dismissed, Length: 239117, dtype: int64

In [ ]:
df['total_wickets'] = df.groupby(['id','innings'])['player_dismissed'].apply(lambda x: x.cumsum())

<ipython-input-47-206440e17152>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df['total_wickets'] = df.groupby(['id','innings'])['player_dismissed'].apply(lambda x: x.cumsum())

### Dot balls in previous 30 balls

In [ ]:
df['prev_30_dot_balls'] = df['total_runs']
df['prev_30_dot_balls'] = np.where(df['prev_30_dot_balls']==0,1,0)

tmp = df.groupby(['id','innings'])['prev_30_dot_balls'].rolling(min_periods= 1, window = 30).sum().reset_index()
df['prev_30_dot_balls'] = tmp['prev_30_dot_balls'].to_list()

#### Boundaries in previous 30 balls

In [ ]:
df['prev_30_boundaries'] = df['total_runs']
df['prev_30_boundaries'] = np.where(df['prev_30_boundaries']>3,1,0)

tmp = df.groupby(['id','innings'])['prev_30_boundaries'].rolling(min_periods= 1, window = 30).sum().reset_index()
df['prev_30_boundaries'] = tmp['prev_30_boundaries'].to_list()

In [ ]:
df.head(10)

,id,innings,batting_team,bowling_team,striker,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries
245,211028,1,England,Australia,ME Trescothick,0.1,0,1,0,0,179,0,0.0,0.0,0,1.0,0.0
246,211028,1,England,Australia,ME Trescothick,0.2,0,2,1,0,179,1,1.0,0.0,0,1.0,0.0
247,211028,1,England,Australia,GO Jones,0.3,0,3,0,0,179,1,1.0,0.0,0,2.0,0.0
248,211028,1,England,Australia,GO Jones,0.4,0,4,0,0,179,1,1.0,0.0,0,3.0,0.0
249,211028,1,England,Australia,GO Jones,0.5,0,5,0,0,179,1,1.0,0.0,0,4.0,0.0
250,211028,1,England,Australia,GO Jones,0.6,0,6,1,0,179,2,2.0,0.0,0,4.0,0.0
251,211028,1,England,Australia,GO Jones,0.7,0,7,2,0,179,4,4.0,0.0,0,4.0,0.0
252,211028,1,England,Australia,ME Trescothick,1.1,1,1,0,0,179,4,4.0,0.0,0,5.0,0.0
253,211028,1,England,Australia,ME Trescothick,1.2,1,2,0,0,179,4,4.0,0.0,0,6.0,0.0
254,211028,1,England,Australia,ME Trescothick,1.3,1,3,1,0,179,5,5.0,0.0,0,6.0,0.0

In [ ]:
df.tail()

,id,innings,batting_team,bowling_team,striker,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries
536847,1335808,2,India,Sri Lanka,S Mandhana,7.6,7,6,0,0,71,59,34.0,2.0,2,14.0,5.0
536848,1335808,2,India,Sri Lanka,H Kaur,8.1,8,1,1,0,71,60,29.0,2.0,2,14.0,4.0
536849,1335808,2,India,Sri Lanka,H Kaur,8.2,8,2,1,0,71,61,29.0,2.0,2,14.0,4.0
536850,1335808,2,India,Sri Lanka,S Mandhana,8.3,8,3,4,0,71,65,33.0,2.0,2,13.0,5.0
536851,1335808,2,India,Sri Lanka,S Mandhana,8.4,8,4,6,0,71,71,39.0,1.0,2,12.0,6.0

In [ ]:
convert_dict = {'prev_30_runs': int,
                'prev_30_wickets': int,
                'prev_30_dot_balls': int,
                'prev_30_boundaries': int
                }
df = df.astype(convert_dict)

In [ ]:
df

,id,innings,batting_team,bowling_team,striker,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries
245,211028,1,England,Australia,ME Trescothick,0.1,0,1,0,0,179,0,0,0,0,1,0
246,211028,1,England,Australia,ME Trescothick,0.2,0,2,1,0,179,1,1,0,0,1,0
247,211028,1,England,Australia,GO Jones,0.3,0,3,0,0,179,1,1,0,0,2,0
248,211028,1,England,Australia,GO Jones,0.4,0,4,0,0,179,1,1,0,0,3,0
249,211028,1,England,Australia,GO Jones,0.5,0,5,0,0,179,1,1,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536847,1335808,2,India,Sri Lanka,S Mandhana,7.6,7,6,0,0,71,59,34,2,2,14,5
536848,1335808,2,India,Sri Lanka,H Kaur,8.1,8,1,1,0,71,60,29,2,2,14,4
536849,1335808,2,India,Sri Lanka,H Kaur,8.2,8,2,1,0,71,61,29,2,2,14,4
536850,1335808,2,India,Sri Lanka,S Mandhana,8.3,8,3,4,0,71,65,33,2,2,13,5
536851,1335808,2,India,Sri Lanka,S Mandhana,8.4,8,4,6,0,71,71,39,1,2,12,6

In [ ]:
df.to_csv('Data_with_features_all.csv', index = None)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_absolute_error

In [ ]:
# df = pd.read_csv('Data_with_features.csv')

In [ ]:
df.head()

,id,innings,batting_team,bowling_team,striker,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries
245,211028,1,England,Australia,ME Trescothick,0.1,0,1,0,0,179,0,0,0,0,1,0
246,211028,1,England,Australia,ME Trescothick,0.2,0,2,1,0,179,1,1,0,0,1,0
247,211028,1,England,Australia,GO Jones,0.3,0,3,0,0,179,1,1,0,0,2,0
248,211028,1,England,Australia,GO Jones,0.4,0,4,0,0,179,1,1,0,0,3,0
249,211028,1,England,Australia,GO Jones,0.5,0,5,0,0,179,1,1,0,0,4,0

In [ ]:
pd.get_dummies(data = df,columns = ['batting_team','bowling_team'])

,id,innings,striker,overs,over,ball,total_runs,player_dismissed,total,total_score,...,batting_team_West Indies,bowling_team_Australia,bowling_team_Bangladesh,bowling_team_England,bowling_team_India,bowling_team_New Zealand,bowling_team_Pakistan,bowling_team_South Africa,bowling_team_Sri Lanka,bowling_team_West Indies
245,211028,1,ME Trescothick,0.1,0,1,0,0,179,0,...,0,1,0,0,0,0,0,0,0,0
246,211028,1,ME Trescothick,0.2,0,2,1,0,179,1,...,0,1,0,0,0,0,0,0,0,0
247,211028,1,GO Jones,0.3,0,3,0,0,179,1,...,0,1,0,0,0,0,0,0,0,0
248,211028,1,GO Jones,0.4,0,4,0,0,179,1,...,0,1,0,0,0,0,0,0,0,0
249,211028,1,GO Jones,0.5,0,5,0,0,179,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536847,1335808,2,S Mandhana,7.6,7,6,0,0,71,59,...,0,0,0,0,0,0,0,0,1,0
536848,1335808,2,H Kaur,8.1,8,1,1,0,71,60,...,0,0,0,0,0,0,0,0,1,0
536849,1335808,2,H Kaur,8.2,8,2,1,0,71,61,...,0,0,0,0,0,0,0,0,1,0
536850,1335808,2,S Mandhana,8.3,8,3,4,0,71,65,...,0,0,0,0,0,0,0,0,1,0
536851,1335808,2,S Mandhana,8.4,8,4,6,0,71,71,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
df = pd.get_dummies(data = df,columns = ['batting_team','bowling_team'],drop_first = True)
# df = pd.get_dummies(data = df,columns = ['batting_team','bowling_team'])

In [ ]:
df.columns

Index(['id', 'innings', 'striker', 'overs', 'over', 'ball', 'total_runs',
       'player_dismissed', 'total', 'total_score', 'prev_30_runs',
       'prev_30_wickets', 'total_wickets', 'prev_30_dot_balls',
       'prev_30_boundaries', 'batting_team_Bangladesh', 'batting_team_England',
       'batting_team_India', 'batting_team_New Zealand',
       'batting_team_Pakistan', 'batting_team_South Africa',
       'batting_team_Sri Lanka', 'batting_team_West Indies',
       'bowling_team_Bangladesh', 'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies'],
      dtype='object')

In [ ]:
df = df[['id', 'batting_team_Bangladesh', 'batting_team_England',
       'batting_team_India', 'batting_team_New Zealand',
       'batting_team_Pakistan', 'batting_team_South Africa',
       'batting_team_Sri Lanka', 'batting_team_West Indies',
       'bowling_team_Bangladesh', 'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies', 'overs', 'total_score', 'total_wickets','prev_30_runs',
       'prev_30_wickets','total', 'prev_30_dot_balls',
       'prev_30_boundaries']]

In [ ]:
# df = df[['id', 'batting_team_Australia','batting_team_Sri Lanka',
#        'bowling_team_Australia','bowling_team_Sri Lanka', 'overs', 'total_score', 'total_wickets','prev_30_runs',
#        'prev_30_wickets','total', 'prev_30_dot_balls',
#        'prev_30_boundaries']]

In [ ]:
X = df.drop(labels = ['total','id'], axis =1)
y = df['total'].values

In [ ]:
# split into train test
X_train,X_test, y_train, y_test = train_test_split(X,y, test_size = 0.25, random_state = 42, stratify = y)

In [ ]:
X_train = X_train.values
X_test = X_test.values
X_train = np.asarray(X_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)

In [ ]:
print(X_train.shape,X_test.shape, y_train.shape, y_test.shape)

(179337, 23) (59780, 23) (179337,) (59780,)

Training LR Model

In [ ]:
LR_model = LinearRegression()
LR_model.fit(X_train, y_train)

LinearRegression()

In [ ]:
# Crating a pickle file for
filename = 'lr-model all.pkl'
pickle.dump(LR_model, open(filename, 'wb'))

In [ ]:
prediction = LR_model.predict(X_test)
mean_absolute_error(y_test,prediction)

18.81730814857521

In [ ]:
mae = mean_absolute_error(y_test,prediction)

In [ ]:
int(mae)

18

In [ ]:
X_train

array([[ 0.,  0.,  0., ...,  3., 10.,  1.],
       [ 0.,  0.,  0., ...,  0., 13., 12.],
       [ 0.,  0.,  0., ...,  0., 10.,  1.],
       ...,
       [ 0.,  0.,  1., ...,  1.,  6.,  6.],
       [ 0.,  0.,  0., ...,  2.,  6.,  2.],
       [ 0.,  0.,  0., ...,  2., 14.,  2.]], dtype=float32)

In [ ]:
model = Sequential([
    layers.Dense(64, input_shape=(X_train.shape[1],), activation='relu'),
    layers.Dense(64, activation = 'relu'),
    layers.Dense(64, activation = 'relu'),
    layers.Dense(64, activation = 'relu'),
    layers.Dense(64, activation = 'relu'),
    layers.Dense(64, activation = 'relu'),
    layers.Dense(1)
])

In [ ]:
model.compile(optimizer="adam",
              loss="mean_squared_error")

In [ ]:
history = model.fit(epochs=20, x=X_train, y=y_train,
          validation_data=(X_test, y_test), verbose=1)

Epoch 1/20
5605/5605 [==============================] - 38s 6ms/step - loss: 871.3793 - val_loss: 698.3565
Epoch 2/20
5605/5605 [==============================] - 29s 5ms/step - loss: 682.3782 - val_loss: 702.9243
Epoch 3/20
5605/5605 [==============================] - 27s 5ms/step - loss: 644.6444 - val_loss: 656.9420
Epoch 4/20
5605/5605 [==============================] - 27s 5ms/step - loss: 631.3416 - val_loss: 623.0751
Epoch 5/20
5605/5605 [==============================] - 28s 5ms/step - loss: 620.8928 - val_loss: 619.9106
Epoch 6/20
5605/5605 [==============================] - 28s 5ms/step - loss: 610.2354 - val_loss: 620.4670
Epoch 7/20
5605/5605 [==============================] - 28s 5ms/step - loss: 601.0295 - val_loss: 590.9019
Epoch 8/20
5605/5605 [==============================] - 27s 5ms/step - loss: 593.2772 - val_loss: 579.0799
Epoch 9/20
5605/5605 [==============================] - 28s 5ms/step - loss: 583.7196 - val_loss: 573.7943
Epoch 10/20
5605/5605 [==============================] - 27s 5ms/step - loss: 575.0220 - val_loss: 569.0835
Epoch 11/20
5605/5605 [==============================] - 28s 5ms/step - loss: 565.8571 - val_loss: 562.4346
Epoch 12/20
5605/5605 [==============================] - 27s 5ms/step - loss: 558.4998 - val_loss: 550.7670
Epoch 13/20
5605/5605 [==============================] - 27s 5ms/step - loss: 551.6054 - val_loss: 551.7164
Epoch 14/20
5605/5605 [==============================] - 28s 5ms/step - loss: 543.0235 - val_loss: 559.4512
Epoch 15/20
5605/5605 [==============================] - 28s 5ms/step - loss: 539.9606 - val_loss: 542.5744
Epoch 16/20
5605/5605 [==============================] - 27s 5ms/step - loss: 532.9303 - val_loss: 542.1974
Epoch 17/20
5605/5605 [==============================] - 27s 5ms/step - loss: 526.3433 - val_loss: 532.3710
Epoch 18/20
5605/5605 [==============================] - 27s 5ms/step - loss: 523.2049 - val_loss: 534.5664
Epoch 19/20
5605/5605 [==============================] - 27s 5ms/step - loss: 518.0303 - val_loss: 532.4788
Epoch 20/20
5605/5605 [==============================] - 26s 5ms/step - loss: 512.7089 - val_loss: 516.8691

In [ ]:
prediction = model.predict(X_test)

1869/1869 [==============================] - 3s 2ms/step

In [ ]:
mean_absolute_error(y_test,prediction)

16.33924689814573

In [ ]:
model.save("nn-model-all.h5")

In [ ]:
# Crating a pickle file for
filename = 'nn-model all.pkl'
pickle.dump(model, open(filename, 'wb'))

In [ ]:
load_clf = pickle.load(open("nn-model all.pkl", "rb"))

In [ ]:
# df = np.array(input_df)

NameError: ignored

In [ ]:
load_clf.predict()

In [ ]:
# 18.004449696698767 --old
# 19.985920604809188 -- second iter
#

### Function to predict scores:

In [ ]:
X.head().T

In [ ]:
def score_prediction(Bat_team,Bowl_team, overs, total_score, total_wickets, prev_runs_30, prev_wickets_30, prev_30_dot_balls, prev_30_boundaries):
  temp_array = list()
      #   'batting_team_Bangladesh', 'batting_team_England',
      #  'batting_team_India', 'batting_team_New Zealand',
      #  'batting_team_Pakistan', 'batting_team_South Africa',
      #  'batting_team_Sri Lanka', 'batting_team_West Indies',
      #  'bowling_team_Bangladesh', 'bowling_team_England', 'bowling_team_India',
      #  'bowling_team_New Zealand', 'bowling_team_Pakistan',
      #  'bowling_team_South Africa', 'bowling_team_Sri Lanka',
      #  'bowling_team_West Indies'


  if Bat_team == 'AUS':
    temp_array = temp_array + [0,0,0,0,0,0,0,0]
  elif Bat_team == 'BAN':
    temp_array = temp_array + [1,0,0,0,0,0,0,0]
  elif Bat_team == 'ENG':
    temp_array = temp_array + [0,1,0,0,0,0,0,0]
  elif Bat_team == 'IND':
    temp_array = temp_array + [0,0,1,0,0,0,0,0]
  elif Bat_team == 'NZ':
    temp_array = temp_array + [0,0,0,1,0,0,0,0]
  elif Bat_team == 'PAK':
    temp_array = temp_array + [0,0,0,0,1,0,0,0]
  elif Bat_team == 'SA':
    temp_array = temp_array + [0,0,0,0,0,1,0,0]
  elif Bat_team == 'SL':
    temp_array = temp_array + [0,0,0,0,0,0,1,0]
  elif Bat_team == 'WI':
    temp_array = temp_array + [0,0,0,0,0,0,0,1]

  if Bowl_team == 'AUS':
    temp_array = temp_array + [0,0,0,0,0,0,0,0]
  elif Bowl_team == 'BAN':
    temp_array = temp_array + [1,0,0,0,0,0,0,0]
  elif Bowl_team == 'ENG':
    temp_array = temp_array + [0,1,0,0,0,0,0,0]
  elif Bowl_team == 'IND':
    temp_array = temp_array + [0,0,1,0,0,0,0,0]
  elif Bowl_team == 'NZ':
    temp_array = temp_array + [0,0,0,1,0,0,0,0]
  elif Bowl_team == 'PAK':
    temp_array = temp_array + [0,0,0,0,1,0,0,0]
  elif Bowl_team == 'SA':
    temp_array = temp_array + [0,0,0,0,0,1,0,0]
  elif Bowl_team == 'SL':
    temp_array = temp_array + [0,0,0,0,0,0,1,0]
  elif Bowl_team == 'WI':
    temp_array = temp_array + [0,0,0,0,0,0,0,1]

  temp_array = temp_array + [overs, total_score, total_wickets, prev_runs_30, prev_wickets_30, prev_30_dot_balls, prev_30_boundaries]
  data = np.array([temp_array])
  print(data)
  my_prediction = int(LR_model.predict(data))

  print('Predicted score: ', my_prediction)
  print('Predicted score range: ', my_prediction - int(mae), ' to ' , my_prediction + int(mae))

In [ ]:
Bat_team = 'AUS'
Bowl_Team = 'IND'

overs = 10.3
total_score = 67 #current score
total_wickets = 2 #current wicket
prev_runs_30= 37 # runs in last 30 balls
prev_wickets_30 = 1 # wicket in last 30 balls
prev_30_dot_balls= 8 # dots in last 30 balls
prev_30_boundaries= 5 #boundaries in last 30 balls

score_prediction(Bat_team, Bowl_Team, overs, total_score, total_wickets, prev_runs_30, prev_wickets_30, prev_30_dot_balls, prev_30_boundaries)

In [ ]:
Bat_team = 'AUS'
Bowl_Team = 'SL'

overs = 10.3
total_score = 67 #current score
total_wickets = 2 #current wicket
prev_runs_30= 37 # runs in last 30 balls
prev_wickets_30 = 1 # wicket in last 30 balls
prev_30_dot_balls= 8 # dots in last 30 balls
prev_30_boundaries= 5 #boundaries in last 30 balls

score_prediction(Bat_team, Bowl_Team, overs, total_score, total_wickets, prev_runs_30, prev_wickets_30, prev_30_dot_balls, prev_30_boundaries)

In [ ]:
Bat_team = 'AUS'
Bowl_Team = 'SL'

overs = 10.3
total_score = 67 #current score
total_wickets = 2 #current wicket
prev_runs_30= 37 # runs in last 30 balls
prev_wickets_30 = 1 # wicket in last 30 balls
prev_30_dot_balls= 8 # dots in last 30 balls
prev_30_boundaries= 5 #boundaries in last 30 balls

score_prediction(Bat_team, Bowl_Team, overs, total_score, total_wickets, prev_runs_30, prev_wickets_30, prev_30_dot_balls, prev_30_boundaries)

In [ ]:
Bat_team = 'AUS'
Bowl_Team = 'SL'

overs = 10.3
total_score = 87 #current score
total_wickets = 2 #current wicket
prev_runs_30= 39 # runs in last 30 balls
prev_wickets_30 = 1 # wicket in last 30 balls
prev_30_dot_balls= 9 # dots in last 30 balls
prev_30_boundaries= 3 #boundaries in last 30 balls

score_prediction(Bat_team, Bowl_Team, overs, total_score, total_wickets, prev_runs_30, prev_wickets_30, prev_30_dot_balls, prev_30_boundaries)

In [ ]:
Bat_team = 'AUS'
Bowl_Team = 'SL'

overs = 10.3
total_score = 87 #current score
total_wickets = 2 #current wicket
prev_runs_30= 39 # runs in last 30 balls
prev_wickets_30 = 1 # wicket in last 30 balls
prev_30_dot_balls= 9 # dots in last 30 balls
prev_30_boundaries= 3 #boundaries in last 30 balls

score_prediction(Bat_team, Bowl_Team, overs, total_score, total_wickets, prev_runs_30, prev_wickets_30, prev_30_dot_balls, prev_30_boundaries)

In [ ]:
Bat_team = 'SL'
Bowl_Team = 'AUS'

overs = 10.3
total_score = 76 #current score
total_wickets = 5 #current wicket
prev_runs_30= 33 # runs in last 30 balls
prev_wickets_30 = 0 # wicket in last 30 balls
prev_30_dot_balls= 8 # dots in last 30 balls
prev_30_boundaries= 3 #boundaries in last 30 balls

score_prediction(Bat_team, Bowl_Team, overs, total_score, total_wickets, prev_runs_30, prev_wickets_30, prev_30_dot_balls, prev_30_boundaries)

In [ ]:
Bat_team = 'SL'
Bowl_Team = 'AUS'

overs = 10.3
total_score = 76 #current score
total_wickets = 5 #current wicket
prev_runs_30= 33 # runs in last 30 balls
prev_wickets_30 = 0 # wicket in last 30 balls
prev_30_dot_balls= 8 # dots in last 30 balls
prev_30_boundaries= 3 #boundaries in last 30 balls

score_prediction(Bat_team, Bowl_Team, overs, total_score, total_wickets, prev_runs_30, prev_wickets_30, prev_30_dot_balls, prev_30_boundaries)